<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7 Wonders Game Tracker</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body
    class="bg-gray-900 font-sans leading-normal tracking-normal text-gray-100"
  >
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-4xl font-bold mb-8 text-gray-100">
        7 Wonders Game Tracker
      </h1>
      <section class="mb-12">
        <h2 class="text-2xl font-semibold mb-4 text-gray-300">Add Game</h2>
        <form
          id="gameForm"
          hx-post="/add-game"
          hx-target="#game-history-content"
          hx-swap="innerHTML"
          class="space-y-4"
        >
          <% players.forEach(function(player) { %>
          <div class="flex items-center space-x-4">
            <label class="w-24 font-medium text-gray-300"><%= player %>:</label>
            <select
              name="<%= player.toLowerCase() %>_civ"
              required
              class="form-select mt-1 block w-full py-2 px-3 border border-gray-600 bg-gray-800 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-gray-100"
            >
              <% civilizations.forEach(function(civ) { %>
              <option value="<%= civ %>"><%= civ %></option>
              <% }); %>
            </select>
            <input
              type="number"
              name="<%= player.toLowerCase() %>_points"
              placeholder="Points"
              required
              class="mt-1 block w-full py-2 px-3 border border-gray-600 bg-gray-800 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-gray-100"
            />
          </div>
          <% }); %>
          <button
            type="submit"
            class="py-2 px-4 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75"
          >
            Save Game
          </button>
        </form>
      </section>
      <section class="mb-12">
        <h2 class="text-2xl font-semibold mb-4 text-gray-300">Stats</h2>
        <div
          id="stats"
          hx-get="/stats"
          hx-trigger="load, gameDeleted from:body"
        ></div>
      </section>

      <section id="game-history" class="mb-12">
        <button
          type="button"
          class="collapsible w-full py-2 px-4 bg-gray-800 text-left font-semibold rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-75 text-gray-100"
        >
          Game History
        </button>
        <div
          class="content hidden mt-4 bg-gray-800 shadow-md rounded-lg p-6"
          id="game-history-content"
          hx-get="/game-history"
          hx-trigger="load"
        ></div>
      </section>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function () {
            this.classList.toggle("bg-gray-700");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
      });

      document.body.addEventListener("htmx:afterOnLoad", function (event) {
        if (event.detail.elt.id === "game-history-content") {
          document.body.dispatchEvent(new Event("gameDeleted"));
        }
      });
    </script>
  </body>
</html>
